
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Marck+Script&family=Montserrat&display=swap');
$primary-font: "Dosis", sans-serif;
$heading: "Marck Script", cursive;
$title: "Monsterrat", sans-serif;